$black-gradient:linear-gradient(180deg, #07050A 0%, rgba(0, 0, 0, 0) 100%);
$soft-blue-gradient:linear-gradient(180deg, rgba(68, 67, 92, 0) 0.69%, rgba(36, 35, 51, 0) 0.29%, #242333 100%);
$active-gradient:linear-gradient(90deg, #F52CBF 0%, #FF7C46 100%);
$button-gradient:linear-gradient(90deg, #242333 0%, #3C3B53 100%);
$orange-gradient:linear-gradient(53.76deg, #FF4910 10.28%, #FF4910 87.14%);
$bg-gradient:linear-gradient(0deg, #262435 0%, rgba(38, 36, 53, 0) 100%);
$bg-active-gradient:linear-gradient(0deg, #F52CBF -200%, rgba(245, 44, 191, 0) 100%);
$purple-pink-gradient:linear-gradient(90deg, #682FBD 0%, #CB4CBC 100%);